<nav class="menu container">
    <ul class="left">
        <li>
            <img src="" alt="logo">
        </li>
        <li>
            <a href="">
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'gallery' %}">
                Галерея
            </a>
        </li>
        <li>
            <a href="">
                Корзина
            </a>
        </li>
    </ul>
    <ul class="right">
        <li>
            <a href="">
                Войти
            </a>
        </li>
        <li>
            <a href="">
                Регистрация
            </a>
        </li>
    </ul>
</nav>