{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'furniture/css/style.css' %}">
{% endblock links %}
{% block title %} {{ furniture.title }} {% endblock title %}
{% block content %}
<div class="container">
    <div class="horizontal-card">
        <img src="{{ furniture.image.url }}" alt="">
        <div class="right">
            <h1>{{ furniture.title }}</h1>
            <h3>{{ furniture.type.name }}</h3>
            <p>{{ furniture.description }}</p>
            <p>{{ furniture.price }} руб.</p>
            <p>Производитель: {{ furniture.owner.username }}</p>
            <p>Время добавления {{ furniture.created|date:"d.m.Y H:i:s" }}</p>
            <p>Время последнего обновления {{ furniture.updated|date:"d.m.Y H:i:s" }}</p>
        </div>
    </div>
</div>
{% endblock content %}
